.input {
  border-radius: 5px;
  margin: 5px;
  width: 50%;
  padding: 10px;
  border: 1px solid;
}

.social-icons {
  size: 160px;
	transition: 250ms ease-in-out;
	height: 2em;
	width: 2em;
}

.social-icons:hover {
  size: 160px;
	color: white;
	height: 2.2em;
	width: 2.2em;

}

.album-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.calendar-navigate {
  size: 16px;
	transition-delay: 200ms;

}

.calendar-navigate:hover {
	transition-delay: 200ms;
}

.menu-link {
	color: black;
	transition: 250ms ease-in-out;

}

.menu-link:hover {
	color: white;
	
}

